.images {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

.image {
	max-width: 23rem;
	max-height: 23rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1.5rem;
	background-color: var(--grey-color);
}

.image > img {
	animation-delay: 2s;
	transition: all 2s ease;
	animation: loadingPlaceholder 5s;
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.photo > a {
	text-decoration: none;
	color: var(--text-color);
}

.photo > a > p {
	font-size: 1.6rem;
	padding-top: 0.5rem;
}

@keyframes loadingPlaceholder {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 425px) {
	.images {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.images div {
		max-width: 20rem;
		max-height: 20rem;
	}

	.images div > img {
		width: auto;
	}
}
