#search {
	font: inherit;
	border: 1px solid var(--grey-color);
	border-radius: 5px;
	padding: 0.5rem 0.5rem;
	width: 20rem;
	max-width: 80%;
	outline: none;
}

#search:focus {
	border: 1px solid var(--primary-color);
}
